= content_for :client, @client

%p#notice= notice

%h1= @account

%p= link_to 'Nowa transakcja', new_account_transaction_path(@account), class: 'btn'

%p= link_to 'Lista transakcji', account_transactions_path(@account), class: 'btn'
